.message {
    height: 42px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    align-items: center;
}

.message:nth-child(even) {
    /*justify-content: flex-end;*/
    margin-left: 300px;
}