.header {
    grid-area: header;
    background: linear-gradient(135deg, #fceabb 0%, #fccd4d 49%, #fccd4d 49%, #fccd4d 49%, #fccd4d 49%, #fccd4d 49%, #fccd4d 49%, #fccd4d 50%, #fccd4d 50%, #fccd4d 50%, #f8b500 100%, #fbdf93 100%, #f8b500 101%);
    padding-left: 30px;
}

.header__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
}

