.nav {
    grid-area: nav;
    background: linear-gradient(315deg, rgb(191, 246, 233), rgb(67, 113, 223));
    padding: 30px 60px;
}

.friends {
    list-style-type: none;
    margin-top: 100px;
    text-align: center;
}

.wrapperNavbarBlock {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.wrapperNavbarAvatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbarAvatar {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    object-fit: cover;
}

