/*.App {*/
/*    !*text-align: center;*!*/
/*}*/

/*.App-logo {*/
/*    height: 40vmin;*/
/*    pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*    .App-logo {*/
/*        animation: App-logo-spin infinite 20s linear;*/
/*    }*/
/*}*/

/*.App-header {*/
/*    background-color: #282c34;*/
/*    min-height: 100vh;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: calc(10px + 2vmin);*/
/*    color: white;*/
/*}*/

/*.App-link {*/
/*    color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*    from {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

/*ul li {*/
/*    list-style-type: georgian;*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*}*/

.appMainWrapper {
    padding: 5px;
}

.appWrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    gap: 5px;
    grid-template-areas:
    'header header'
    'nav content';
    width: 100%;
    height: 100vh;
}

/*.appWrapperContent{*/
/*    background-image: url('https://img.freepik.com/free-vector/watercolor-stains-abstract-background_23-2149107181.jpg?t=st=1655203081~exp=1655203681~hmac=0baf28ba6994d4b26f73cdbe7c1c42e7ca1c59b8bb0b7954f5d249425c4bb114&w=2000');*/
/*    width: 100%;*/
/*    height: auto;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*}*/

.appWrapperContent {
    grid-area: content;
    background: linear-gradient(135deg, rgb(136, 176, 248) 16%, rgb(173, 245, 247) 76%);
}

body::-webkit-scrollbar {
    width: 0;
}





