/*.content {*/
/*    grid-area: content;*/
/*    background: linear-gradient(135deg, rgb(136, 176, 248) 16%, rgb(173, 245, 247) 76%);*/
/*}*/

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 30px;
}

.dialogsItems div.active {
    color: gold;
}

.messages {
    padding: 30px;
}
